<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
  
<div class="min-h-screen bg-gradient-to-br from-indigo-100 via-purple-100 to-blue-100 pt-10 pb-20 relative">
    <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-8">
        <h2 class="font-bold text-2xl text-center mt-6 mb-12">New Form</h2>
      
        <form [formGroup]="formBuilder" (ngSubmit)="onSubmit()"> 
            <!-- Form header -->
            <div class="space-y-4">
                <div>
                    <label class="block text-gray-700 font-semibold mb-1 mt-4">Form Title</label>
                    <input type="text" formControlName="title"
                        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"/>

                    <!-- Form title Validation -->
                    <div *ngIf="titleControl?.invalid && (submitClicked || titleControl?.touched)" class="px-2 mt-1 text-sm text-red-500">
                        *Enter form title
                    </div>
                </div>
                
                <div>
                <label class="block text-gray-700 font-semibold mb-1 mt-4">Form Description</label>
                <input type="text" formControlName="description"
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
                </div>
            </div>
        
            <!-- Questions Section -->
            <div class="mt-12">
                <h3 class="text-lg font-semibold text-gray-700 mb-3">Questions</h3>
        
                <!-- Questions List -->
                <div formArrayName="questions" class="space-y-6">
                <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i"
                    class="py-6 px-3 border rounded-xl bg-gray-200 hover:shadow-lg">
        
                    <!-- Question input -->
                    <div class="flex gap-2 items-center">
                    <input type="text" formControlName="questionText"
                        class="w-2/3 px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600"
                        placeholder="Enter question" />
        
                    <select formControlName="type"
                        class="w-1/3 p-2 border rounded-lg focus:ring-2 focus:ring-indigo-400 outline-none">
                        <option value="shortText">Short Text</option>
                        <option value="paragraph">Paragraph</option>
                        <option value="multipleChoice">Multiple Choice</option>
                        <option value="checkboxes">Checkboxes</option>
                        <option value="dropdown">Drop-down</option>
                    </select>
                    </div>
                    <!-- Question Validation -->
                    <!-- <div *ngIf="getQuestionTextControl(question)?.invalid && submitClicked" class="px-2 mt-1 text-sm text-red-500">*Enter question text</div> -->
                    <div *ngIf="getQuestionTextControl(question)?.invalid && (submitClicked || getQuestionTextControl(question)?.touched)" class="px-2 mt-1 text-sm text-red-500">*Enter question text</div>
        
                    <!-- Options -->
                    <div *ngIf="question.get('type')?.value !== 'shortText' && question.get('type')?.value !== 'paragraph'" class="mt-4">
                    <h4 class="text-gray-700 font-semibold px-2">Options</h4>
                    <div formArrayName="options" class="space-y-2 mt-2">
                        <div *ngFor="let option of getOptions(questions.at(i)).controls; let j = index" class="">
                            <div class="flex gap-1">
                            <input type="text" [formControlName]="j" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Enter option">
                            <button 
                                *ngIf="getOptions(questions.at(i)).length > 1" (click)="removeOption(i, j)" 
                                class="px-3 text-lg rounded-full text-gray-700 hover:bg-gray-300">
                                ✖
                            </button>
                            </div>
                            
                            <!-- <div *ngIf="(!option.value.trim()) && submitClicked" class="px-2 mt-1 text-sm text-red-500 text-center"> 
                                *Enter option text
                            </div> -->
                            <div *ngIf="(!option.value.trim()) && (submitClicked || option.touched)" class="px-2 mt-1 text-sm text-red-500 text-center">
                                *Enter option text
                            </div>
                            <div *ngIf="singleOption && submitClicked" class="px-2 mt-1 text-sm text-red-500 text-center"> 
                                *Enter at least two options for {{ question.get('type')?.value }} question
                            </div>
                        </div>
                    
                        <button (click)="addOption(i)" type="button" class="px-4 py-2 text-indigo-600 text-sm hover:bg-gray-300 rounded-xl">
                        + Add Option
                        </button>
                    </div>
                    </div>
        
                    <!-- Actions -->
                    <div class="flex justify-between items-center mt-8 px-4">
                        <label class="flex items-center justify-center cursor-pointer">
                    
                            <input type="checkbox" formControlName="required" class="sr-only peer">
                            <div class="relative w-12 h-6 bg-gray-300 rounded-full transition peer-checked:bg-indigo-600"></div>
                            <div class="relative right-5 w-4 h-4 bg-white rounded-full transition-all duration-300 peer-checked:right-11"></div>
                            <span class="-ml-3 text-base font-medium text-gray-700">Required</span>
                            
                        </label>
                        
                        <div class="flex gap-1">
                        <div class="relative flex justify-center">
                            <button (click)="duplicateQuestion(i)" type="button"
                            class="px-3 py-2 text-gray-700 hover:bg-gray-300 rounded-lg peer">
                            <i class="fa-regular fa-copy text-2xl"></i></button>
                            <div class="absolute top-12 invisible peer-hover:visible text-nowrap transition-all duration-100 text-white text-xs px-2 py-1 rounded-lg bg-gray-700 bg-opacity-80" >Duplicate question</div>
                        </div>
                        
                        <div class="relative flex justify-center">
                            <button (click)="removeQuestion(i)"
                            class="px-3 py-2 text-gray-700 hover:bg-gray-300 rounded-lg peer">
                            <i class="fa-solid fa-trash text-2xl"></i></button>
                            <div class="absolute top-12 invisible peer-hover:visible text-nowrap transition-all duration-100 text-white text-xs px-2 py-1 rounded-lg bg-gray-700 bg-opacity-80" >Delete question</div>
                        </div>
                        </div>
                    </div>
        
                </div>
                </div>  
            </div>
        
            <!-- Form Footer -->
            <div class="mt-6 flex justify-between">
                <button (click)="addQuestion()" type="button"
                    class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700">
                    + Add Question
                </button>
                <button *ngIf="questions.length>=1" type="submit"
                    class="text-white bg-green-600 px-4 py-2 rounded-lg hover:bg-green-700">
                    Save Form
                </button>
            </div>
      
        </form>
    </div>
    
    <div *ngIf="submitSuccess"
        class="absolute top-2 right-0 bg-green-200 px-14 py-4 text-lg cursor-pointer transition-all duration-10000 ease-out">
        Form saved!
        <i class="fa-solid fa-circle-check ml-1 text-green-700"></i>
    </div>
</div>
