<div class="min-h-screen bg-gradient-to-br from-indigo-100 via-purple-100 to-blue-100 p-8">
  <div class="max-w-3xl mx-auto bg-white/70 rounded-2xl shadow-md p-6">
    
    <div class="flex items-center justify-center">
      <svg class="feather feather-check-circle text-green-600" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" >
        <path d="M9 12l2 2 4-4" />
        <circle cx="12" cy="12" r="7" />
      </svg>
    </div>
    <h2 class="text-3xl font-bold text-center tracking-wide text-purple-900 my-4">{{ formTitle }}</h2>

    <p class="text-gray-700 text-center mb-6">
      Thank you for your submission!
    </p>
    <p class="text-sm text-gray-500 text-center">
      {{msg}}
    </p>
  </div>
</div>